* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FAFC;
}

p {
    font-family: 'Playfair Display', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    color: #fff !important;
}

.nav-link:focus, .nav-link:hover {
    color: #ffd700 !important;
}

.navbar-text {
    color: #ffd700 !important;
}

.brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffd700;
}

.social {
    font-size: 150%;
    color: #ffd700;
}

.foot-colour {
    color: #ffd700;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #000000;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: #ffd700;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 1%;
    background-color: black;
}

.author {
    color: #ffeb3b;
    margin: 2px;
    text-transform: capitalize;
    padding: 1px;
    font-size: 10px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #000;
    color: #ffeb3b;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.btn-primary {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none !important;
}

.btn-primary:hover {
    background-color: #000000;
    color: #ffd700;
}

.page-link {
    background-color: #000000;
    color: #ffffff;
}

.page-link:hover {
    background-color: #000000;
    color: #ffffff;
}


.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #fff;
}

.btn-signup {
    background-color: #000000;
    color: #ffd700;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ffd700;;
    color: #000000;
}

.direct {
    color: #0004ff;
    text-decoration: none;
}

.direct:hover,
.direct:active {
    color: #f78a63;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}