{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>BallN</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display+SC&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'img/footballfav.ico'%}" rel="icon" type="image/x-icon" />

    <script src="https://kit.fontawesome.com/7eeba18b1a.js" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light dark-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">BallN</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                
                <nav class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
                            aria-label=" To home page">Home</a>
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'account_logout' %}" aria-label=" To logout page">Logout</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'account_signup' %}"
                            aria-label=" To register page">Register</a>
                    <a class="nav-link" href="{% url 'account_login' %}" aria-label=" To login page">Login</a>
                    {% endif %}
                  </nav>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert alert-success {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe}}
                    <button type="button" class="btn-close" data-bs-dismiss="claert" aria-label="Close">

                    </button>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="text-center social">
            <a href="https://facebook.com" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i
                    class="fab fa-facebook-square ms-3"></i></a>
            <a href="https://instagram.com" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i
                    class="fa-brands fa-instagram ms-3"></i></a>
            <a href="https://youtube.com" target="_blank" rel="noopener"
                aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa-brands fa-youtube ms-3"></i></a>
            <a href="https://twitter.com" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter ms-3"></i></a>
        </p>
        <p class="text-center foot-colour"><i class="fa-solid fa-copyright"> BallN HQ </i></p>

    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
</body>

</html>